{% extends 'index.html' %} 

{% block title %}| Achievements {% endblock %}

{% block body %}
<section>
    <div>
      <h2 class="section-title">Certifications</h2>
      
      <table class="resume-table">
        <tr>
          <td>
            <p style="font-weight: 700">
              Gold medalist in mathematics at the National Science Olympiad
            </p>
            <p style="font-style: italic">
              Global Youth Action (OSN GYA) 2021
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-weight: 700">Scored 490 in TOEFL Prediction Test</p>
            <p style="font-style: italic">Global Youth Action (OSN GYA) 2021</p>
          </td>
        </tr>
      </table>
    </div>
</section>
{% endblock %}
