{% extends 'index.html' %} 

{% block title %}| Education {% endblock %} 

{% block body %}
<section>
  <div>
    <h2 class="section-title">Education</h2>
  
    <table class="resume-table">
      <tr>
        <td>
          <p style="font-weight: 700">Madrasah Aliyah Negeri Insan Cendekia Serpong</p>
          <p style="font-style: italic">
            Jurusan Ilmu Pengetahuan Alam
          </p>
        </td>
        <td class="right">
          <p>Serpong, Indonesia</p>
          <p>2021 - 2023</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-weight: 700">Universitas Pendidikan Indonesia</p>
          <p style="font-style: italic">
            Pendidikan Ilmu Komputer Fakultas Pendidikan Matematika dan Ilmu Pengetahuan Alam
          </p>
        </td>
        <td class="right">
          <p>Bandung, Indonesia</p>
          <p>2023 - Current</p>
        </td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
