{% extends 'index.html' %} 

{% block title %}| Experience {% endblock %} 

{% block body %}
<section>
  <div>
    <h2 class="section-title">Experience</h2>
  
    <table class="resume-table">
      <tr>
        <td>
          <p style="font-weight: 700">Klinik Pendidikan MIPA</p>
          <p style="font-style: italic">Math Tutor</p>
        </td>
        <td class="right">
          <p>Remote-Office Hybrid</p>
          <p>02/2020 to 08/2021p>
        </td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
